<app-encabezado titulo="botones"></app-encabezado>
<!-- -->

<ion-content class="ion-padding">
 <ion-text color="primary" class="ion-text-center">
  <h1>Ion Button</h1>
 </ion-text>
 <ion-button  (click)="onCLick()" expand="block" fill="solid" color="tertiary">
    Soy un botón
 </ion-button>
 <ion-text color="secondary">
    <h1>{{mensaje}}</h1>
 </ion-text>

 <ion-button (click)="navegar()" expand="full" fill="outline">
    <ion-icon slot="start" name="home-outline"></ion-icon>
    Ir al Home
 </ion-button>
</ion-content>
