<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
 <ion-text color="primary" class="ion-text-center">
  <h1>App de Ejemplo</h1>
 </ion-text>
 <ion-list  lines="full" inset="true">
  <ion-list-header mode="ios" color="warning">
    <ion-label >Menú</ion-label>
  </ion-list-header>
  <ion-item detail="true" routerLink="/botones">
    <ion-label>Botones</ion-label>
    <ion-icon name="apps" slot="start"></ion-icon>
  </ion-item>
  <ion-item detail="true" routerLink="/alertas">
    <ion-label>Alertas</ion-label>
    <ion-icon name="warning" slot="start"></ion-icon>
  </ion-item>
 </ion-list>
</ion-content>
